<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/stylesheet.css">

</head>

<body>


    {{>navbar}}

    <!-- home section starts  -->

    <section>
        <div class="container">
            <a href="data/list"><button class="btn">View Data</button></a><br>
            <a href="data/add"><button class="btn">Add Data</button></a><br>
            <div class="box">
                <h3>follow us</h3>
                <a href="https://www.instagram.com/infinite_luv_shower/" target="blank">instagram</a>
                <a href="https://www.facebook.com/brundha.subramanian.5" target="blank">facebook</a>
                <a href="https://www.linkedin.com/in/brundha-s-k-59902b1a2/" target="blank">linkedin</a>
                <a href="https://github.com/BrundhaSK" target="blank">Github</a>
            </div>
        </div>
    </section>

    <!-- home section ends -->

    {{>footer}}


</body>

</html>